
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(223, 67, 160);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container{
  height: 550px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

h1{
  margin-top: 35px;
}

button{
  height: 50px;
  width: 175px;
  margin-top: 30px;
  background-color: rgb(223, 67, 160);
  border-radius: 5px;
  color: white;
  border: .5px solid rgb(190, 185, 185);
}

#signup-btn{
    background-color:white;
    color: black;
}

#login-btn h3 {
  font-weight: 600;
  font-size: 18px;
}

#signup-btn h3 {
   font-weight: 600;
  font-size: 18px;
}

input{
  margin-top: 32px;
  height: 50px;
  width: 70%;
  padding: 20px;
  border: .5px solid rgb(190, 185, 185);
  border-radius: 5px;
}

.link-container{
  text-align: left;
  margin-top: 10px;
  margin-left: 75px;
}

a{
  text-decoration: none;
  color:rgb(189, 68, 171);
}

#main-login-btn{
  width: 70%;
}

#main-login-btn h3{
  font-size: 18px;
}

.btm-link-container{
  margin-top: 40px;
}